
.cellOnFocus:hover, .playerTurn {
  background-color: rgba(100, 148, 78, 0.692);
}

.cellOnFocus:hover {
  cursor: pointer;
}


.border-bottom-brown {
  border-bottom: 1px solid #9b7d71;
}

.figureShadow {
  text-shadow: 0px 0px 5px black;
/* смещение-x | смещение-y | радиус-размытия | цвет */
/* 008 303 */
}

.cursor {
  cursor: pointer;
}

.animated {
  transition: all 0.4s ease;
}

.bg-gold {
  background-color: #dea832;
}

.noselect {
  user-select: none;
}

.bg-blue {
  background-color: #9fb0b2;
}
