
.cellOnFocus:hover, .playerTurn {
  background-color: rgba(100, 148, 78, 0.692);
}

.cellOnFocus:hover {
  cursor: pointer;
}


.border-bottom-brown {
  border-bottom: 1px solid #9b7d71;
}

.figureShadow {
  text-shadow: 0px 0px 5px black;
/* смещение-x | смещение-y | радиус-размытия | цвет */
/* 008 303 */
}

.cursor {
  cursor: pointer;
}

.moda {
  position: absolute;
  z-index: 20;
  left: 150px;
  top: 170px;
  background-color: #f6c99a;
  box-shadow: 3px 2px 10px rgb(36, 34, 34);
}

.fs-100 {
  font-size: 110px;
}