* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(226, 197, 169);
}

.content {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  padding: 15px 0;
}

.bg-brown {
  background-color: rgb(112, 67, 49);
}

.bg-lighter {
  background-color: rgb(243, 194, 155);
}

.activeSide:hover {
  background-color: rgb(81, 136, 55);
}