* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

.App {
  text-align: center;
  /* background-color: rgb(226, 197, 169); */
  width: 100%;
  height: 100%;
  /* color: white; */
}

/* #523d2b */

.content {
  width: 100%;
  color: white;
}

.playerTurn {
  background-color: rgba(100, 148, 78, 0.692);
}

.lightTheme {
  background-color: rgb(226, 197, 169); 
}

.darkTheme {
  background-color: rgb(73, 78, 83);
}